
# Task_2 : City Analysis

### Identify the city with the highest number of restaurants in the dataset

In [ ]:
import pandas as pd
df = pd.read_csv("Dataset.csv")
cities = df["City"]

In [33]:
print(cities.head())

0         Makati City
1         Makati City
2    Mandaluyong City
3    Mandaluyong City
4    Mandaluyong City
Name: City, dtype: object

In [34]:
all_cities = cities.value_counts()
print(all_cities.head(1))

New Delhi    5473
Name: City, dtype: int64

### Calculate the average rating for restaurants in each city

In [35]:
print(len(all_cities))

141

In [40]:
df["Aggregate rating"] = pd.to_numeric(df["Aggregate rating"], errors="coerce")

In [41]:
city_avg_rating = df.groupby("City")["Aggregate rating"].mean()
print(city_avg_rating)

City
Abu Dhabi          0.0
Agra               0.0
Ahmedabad          0.0
Albany             0.0
Allahabad          0.0
                  ...
Weirton            0.0
Wellington City    0.0
Winchester Bay     0.0
Yorkton            0.0
��stanbul          0.0
Name: Aggregate rating, Length: 141, dtype: float64